# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PFSeleniumGrid\Vladyslav_Sanzhara_Kharkiv_FinalTask\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
